[submodule "src/nn"]
	path = src/nn
	url = git@github.com:resibots/simple_nn.git
[submodule "src/limbo"]
	path = src/limbo
	url = git@github.com:resibots/limbo.git
[submodule "src/simu"]
	path = src/simu
	url = git@github.com:epfl-mobots/samsar.git
